/* .img-profile {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.img-circle img {
  width: auto;
  height: 100%;
  margin-left: -50px;
} */

.img-profile {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.img-circle img {
  width: 20%;
  height: auto;
}