.img-circle {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%; 
  background-color: rgb(58,73,51);
}


.img-profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 28px ; 
}
.bg-profile {
  background-color: rgb(16, 181, 125);
}

.line-1 {
  border: 1px solid;
  border-color: black;
}